body {
	background-color: black;
}

@keyframes a {
	from {
		right: -100%;
		position-anchor: 0% 0%;
	}
	to {
		right: 100%;
		position-anchor: 0% 100%;
		}
}

#n {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	font-size: 111pt;
    font-family: 'yu gothic ui';
    font-weight: lighter;
    color: #fff;
    -webkit-text-stroke: 2pt black;
 	text-shadow: 1pt 0 0 #000, 0 -1pt 0 #000, 0 1pt 0 #000, -1pt 0 0 #000;
    position: absolute;
}

#te { 
	animation: a linear infinite;
	right: 10%;
	position: absolute;
}